*{
  user-select:none;
  font-family: 'Quicksand', sans-serif;
}
div{
  position: relative;
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: rgb(31, 41, 55);
}
.card{
  position:absolute;
  color:rgb(255,255,255);
  background-color: rgb(17, 24, 39);
  width: 400px;
  left:50%;
  margin-left: -200px;
  border-radius: 30px;
  padding: 20px;
}
.body{
  height: fit-content;
  top:50%;
  margin-top: -150px;
}
.search{
  height: 60px;
  margin-top: -100px;
  padding: 5px;
  border-radius: 30px;
}
.search input{
  box-sizing: border-box;
  outline: none;
  border: none;
  color:rgba(255, 255, 255, 0.879);
  background-color: rgb(17, 24, 39);
  width: 390px;
  height: 50px;
  border-radius: 25px;
  padding: 0 25px;
  font-size:20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  caret-color: rgba(255, 255, 255, 0.717);
  cursor: pointer;
}
.search input::-webkit-search-cancel-button{
  position:relative;
  display: none;  
}

::placeholder{
  color:rgba(255, 255, 255, 0.361);
}
.title{
  display: flex;
}
.title div{
  text-align: center;
  width:140px;
  flex-grow: 1;
}
.title .temp{
  font-size: 105px;
  padding: 10px 0 0 0;
}
.title .material-icon img{
  width: 120px;
  padding: 15px 30px;
}
.subtitle{
  display: flex;
  margin-top:-15px;
}
.subtitle div{
  width:180px;
  flex-grow: 1;
  text-align: center;
}
.card-title{
  font-size: 30px;
  font-weight: bold;
}
.card-date{
  padding: 5px 30px 0 0;
  font-size: 20px;
  font-weight: bold;
}
.description{
  display: flex;
}
.description div{
  width:180px;
  flex:180px auto;
  text-align: center;
  padding: 2.5px 0;
}
.feels-what{
  margin:5px 0 0 0;
  color:rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.feels-like{
  color:rgba(255, 255, 255, 0.783);
  font-size: 18px;
  letter-spacing: .5px;
  font-family: 'Quicksand', sans-serif;
}
.border{
  margin: 25px 0 10px 0;
  width: 400px;
  margin-left:-20px;
  border-bottom: .5px solid #3a3a3a;
}
.card-footer{
  display: flex;
}
.card-footer div{
  width: 90px;
  flex-grow: 1;
  text-align: center;
}
.card-box{
  display: flex;
}
.card-box div{
  color:rgba(255, 255, 255, 0.783);
  flex-grow:1;
  text-align: center;
}
.card-text{
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  padding: 2.5px 0;
}
.card-box .material-symbols-rounded{
  font-size: 30px;
  text-align: center;
}
.card-box:nth-of-type(2) .material-symbols-rounded{
  text-align: right;
}
.card-box div{
  margin: 10px 0 10px 0;
}
.error{
  text-align: center;
}
.error img{
  display: block;
  width:100%;
}
.error div{
  display: block;
  font-size:25px;
  font-weight: bold;
  margin-top:-60px;
  margin-bottom: 50px;
  color:rgba(255, 255, 255, 0.842);
}

@media only screen  and (max-width: 500px){
  .card{
    width: 95vw;
    left: 50vw;
    margin-left: -47.5vw;
    border-radius: 30px;
    padding: 3vw;
  }
  .body{
    top:50vh;
    margin-top: -25vh;
  }
  .search{
    width: 95vw;
    height: 16vw;
    left: 50vw;
    margin-left: -50.5vw;
    margin-top: -80px;
    padding: 1vw;
    border-radius: 30px;
  }
  .search input{
    width: 100%;
    height: 100%;
  }
  .border{
    width: 95vw;
    margin-left:-3vw;
  }
  .title div{
    width:43.5vw;
  }
  .title .temp{
    font-size: 90px;
  }
  .title .material-icon img{
    width: 100px;
    padding: 15px 0px;
  }
  .subtitle div{
    width:43.5vw;
  }
  .card-title{
    font-size: 25px;
  }
  .card-date{
    padding: 2.5px 20px 2.5px 0;
  }
  .description div{
    width:43.5vw;
    flex:43.5vw auto;
    padding: 2.5px 0;
  }
  .feels-what{
    font-size: 20px;
  }
  .card-text{
    font-size: 18px;
    padding: 3px 0;
  }
}