*{
  user-select: none;
}
div{
  position: relative;
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: rgb(31, 41, 55);
  font-family: 'Poppins', sans-serif;
}
.card{
  position:absolute;
  color:rgb(255,255,255);
  background-color: rgb(17, 24, 39);
  width: 400px;
  height: fit-content;
  left:50%;
  top:50%;
  margin-left: -200px;
  margin-top: -150px;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
}
.title{
  display: flex;
}
.title div{
  text-align: center;
  width:140px;
  flex-grow: 1;
}
.title .temp{
  font-size: 105px;
  padding: 10px 0s;
}
.title .material-icon img{
  width: 120px;
  padding: 15px 30px;
}
.subtitle{
  display: flex;
  margin-top:-15px;
}
.subtitle div{
  width:180px;
  flex-grow: 1;
  text-align: center;
}
.card-title{
  font-size: 30px;
  font-weight: bold;
}
.card-date{
  padding: 10px 25px 0 20px;
  font-size: 20px;
  font-weight: bold;
}
.description{
  display: flex;
}
.description div{
  width:180px;
  flex:180px auto;
  text-align: center;
}
.feels-what{
  color:rgba(255, 255, 255, 0.904);
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.feels-like{
  color:rgba(255, 255, 255, 0.783);
  font-size: 18px;
  letter-spacing: .5px;
}
.border{
  margin: 25px 0 10px 0;
  width: 400px;
  margin-left:-20px;
  border-bottom: .5px solid #3a3a3a;
}
.card-footer{
  display: flex;
}
.card-footer div{
  width: 90px;
  flex-grow: 1;
  text-align: center;
}
.card-box{
  display: flex;
}
.card-box div{
  flex-grow:1;
  text-align: center;
}
.card-text{
  font-size: 18px;
  padding:2.5px 0 0 0;
  text-align: left;
}
.card-box .material-symbols-rounded{
  font-size: 30px;
  text-align: right;
}
.card-box div{
  margin: 10px 0 0 0;
}
